:root {
--color-background: #F4F1DE;
--color-foreground: #FFF8F0;
--color-text: #3D2C2E;
--color-accent: #E07A5F;
--color-accent2: #81B29A;
--color-accent3: #264653;
--color-accent4: #8D3B3B;
--color-accent5: #ECB349;
} 